<div class="row">
	<div class="col-sm-6">
		<h2>Projects</h2>
		<ul>
  		<% @projects.each do |project|%>
    		<li><a href='/project/<%= project.id %>'><%= project.name %></a></li>
  		<% end %>
		</ul>
	</div>
	<div class="col-sm-6">
		<h2>Volunteers</h2>
		<ul>
  		<% @volunteers.each do |volunteer|%>
    		<li><a href='/volunteer/<%= volunteer.id %>'><%= volunteer.name %></a></li>
  		<% end %>
		</ul>
	</div>
</div>

