<h2>Create Project</h2>

<form action="/add_project" method="post">
	<label for="name">Project Name: </label>
	<input type="text" name="name">
	<button type="submit" name="add_project">Create Project</button>
</form>